@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@700&family=Pacifico&display=swap');
:root {
  --primary-color-white: #ffffff;
  --primary-color: #113946;
  --off-white: #FFF2D8;
  --dark-gray: #BCA37F;
}
*{
  box-sizing: border-box;
}
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin: 0;
  width: 100%;
  min-height:100%;
  background:url("images/hero.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

hr {
  margin: 1.5rem 0rem;
}

/** spaces **/

.margin-md {
  margin: 1rem;
}
.link:hover {
  background-color: whitesmoke;
}

/** container **/
.container {
  padding: 2rem;
  margin-bottom: 20rem;
  z-index: 100;
  position: relative;
  min-height: max-content;
  border-radius: 6px;
  box-shadow: 0 15px 10px 0 rgba(255, 255, 255,0.1);
  /* margin-bottom: 2rem; */
  background-color: #F1FFFF;
}
.container h2{
color: var(--primary-color);
font-family: "Dancing Script";
font-weight: 700;
font-size: 60px;
}
.marg-top{
  margin-top: 3rem;
}
/** links **/
h2 {
  text-align: center;
  margin-top: 0;
}
h4 {
  text-align: center;
}
hr{
  box-shadow: -1px 19px 79px -6px rgba(0,0,0,0.6);
-webkit-box-shadow: -1px 19px 79px -6px rgba(0,0,0,0.6);
-moz-box-shadow: -1px 19px 79px -6px rgba(0,0,0,0.6);
height: 2px;
}
.flx{
  justify-content: center;
  align-items: center;
  display: flex;
}
.flx-container{
width: 75%;
gap: 3rem;
}
.flx-container p{
 text-align: center;
 line-height: 1rem;
font-family: "Caveat";
font-size: 75px;
margin-top: 0;
  }
.grid .grid-item{
  line-height: 2.5rem;
font-family: "Caveat";
font-size: 2rem;
  /* width: 60%; */
 }
@media screen and (max-width: 600px){
  .flx-container{
    width: 95%;
    /* gap: 3rem; */
  }
  .flx-container p{
   font-size: 24px;
     }
  .flx{
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    display: block;
  }
}
.hero22 {
  /* background-color: var(--off-white); */
  margin-top: 82vh;
  text-align: center;
  position: sticky;
  top: 0;
}
.hero22 .hero-img {
  margin-left: 0;
  clear: left;

}

.hero22 .hero-heading {
  text-align: center;
  margin: 2rem;
  padding-top: 1rem;
  color: var(--primary-color-white);
  font-family: "Pacifico";
  font-family: 800;
  font-size: 60px;
  /* color: var(--dark-gray); */
}

.hero22 .hero-heading .heading-inverted {
  color: var(--primary-color);
}
.hero {
  margin-top:60vh;
  /* background-color: var(--off-white); */

  /* display: flex; */
 /* justify-content: center; */
  text-align: center;
  position: sticky;
  top: 20vh;
}

.hero .hero-img {
  margin-left: 0;
  clear: left;

}

.hero .hero-heading {
  text-align: center;
  margin: 2rem;
  padding-top: 1rem;
  color: var(--primary-color-white);
  font-family: "Pacifico";
  font-family: 800;
  font-size: 60px;
  /* color: var(--dark-gray); */
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

/** sections **/

.section {
  padding: 1rem;
  margin: 2.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}

  .ow {
    background-color: var(--off-white);
  }

@media screen and (max-width: 750px) {
  body {
    width: 100%;
  }
.hero22 {
  margin-top: 70vh;
}
  .hero {
  margin-top:40vh;
}
  .hero22 .hero-heading,
  .hero .hero-heading {
  margin: 1rem;
  font-size: 25px;
}
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); 
}
